#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#rooms-page,
#game-page {
  padding: 50px 10%;
}

#button-create,
#button-back,
#ready,
#not-ready,
.room-item-button {
  border: 1px solid var(--input-border-color);
  margin: 20px 0;
  width: 160px;
  background-color: var(--button-bg-color);
}

.text-container {
  max-width: 100%;
  margin: 20px;
  font-size: 1.2em;
}

.timer {
  font-size: 5em;
}

.not-entered-container,
.entered-container {
  word-break: break-all;
  overflow-x: auto;
  white-space: pre-wrap;
}

#room-list {
  display: flex;
}

.room-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--input-border-color);
  width: 180px;
  margin: 20px;
}

#game-aside {
  width: 25%;
}

#bot-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
}

.bot-message {
  padding: 10px;
  border: 1px solid var(--input-border-color);
  margin-top: 10px;
  width: 100%;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  background-color: white;
}

#game-section {
  width: 50%;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  position: relative;
  border: 1px solid var(--input-border-color);
}

.user-indicator {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}

.entered-container {
  background-color: var(--entered-text);
}
.user-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 20px 0 0;
}

.user-name {
  margin: 0 20px;
}
#progress {
  width: 100%;
}

.not-ready {
  background-color: green;
}

.ready {
  background-color: green;
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.rating {
  list-style-type: none;
}

.rating-item {
  margin: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

:root {
  --button-bg-color: #b8b7d5;
  --input-border-color: #999;
}
